<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.demo.dronebackend.mapper.DroneMapper">

    <resultMap id="BaseResultMap" type="com.demo.dronebackend.pojo.Drone">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="droneBrand" column="drone_brand" jdbcType="VARCHAR"/>
            <result property="droneModel" column="drone_model" jdbcType="VARCHAR"/>
            <result property="droneSn" column="drone_sn" jdbcType="VARCHAR"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="userId" column="user_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,drone_brand,drone_model,
        drone_sn,update_time,type,
        user_id
    </sql>
</mapper>
